<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<div class="card">
  <form action="/weather-info" method="get" class="form">
    <input class="input" type="text" name="city" placeholder="Enter city name">
    <button class="btn">
      <img src="./images/search.png" alt="search">
    </button>
  </form>

  <div class="weather-info">

    {{#if weather.icon.clear}}
    <img src="./images/clear.png" alt="icon" class="icon">
      {{/if}}

    {{#if weather.icon.clouds}}
      <img src="./images/clouds.png" alt="icon" class="icon">
    {{/if}}

    {{#if weather.icon.drizzle}}
      <img src="./images/drizzle.png" alt="icon" class="icon">
    {{/if}}

    {{#if weather.icon.snow}}
      <img src="./images/snow.png" alt="icon" class="icon">
    {{/if}}

    {{#if weather.icon.rain}}
      <img src="./images/rain.png" alt="icon" class="icon">
    {{/if}}

    {{#if weather.icon.mist}}
      <img src="./images/mist.png" alt="icon" class="icon">
    {{/if}}

    <div>{{weather.description}}</div>

    <h1 class="temp">{{weather.temp}} °C</h1>
    <h2 class="city">{{weather.cityName}}</h2>
  </div>

  <div class="weather-details">
    <div class="element">
      <img src="./images/humidity.png" alt="humidity">
      <div class="info">
        <p class="humidity">{{weather.humidity}} %</p>
        <p>Humidity</p>
      </div>
    </div>

        <div class="info">
          <p class="humidity">{{weather.feelsLike}} °C</p>
          <p>Feels like</p>
        </div>

    <div class="element">
      <img src="./images/wind.png" alt="wind">
      <div class="info">
        <p class="wind">{{weather.windSpeed}} m/s</p>
        <p>Wind Speed</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>